<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        Dashboard Principal
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px">
        <small fxFlex fxLayout fxLayoutAlign="flex-end center" fxHide.xs="true">Olá, {{ name }}!</small>
        <button 
         mat-fab
         fxHide.xs="true"
         [matMenuTriggerFor]="profile"
         style="background-image: url(assets/img/avatars/profiles/avatar-2.jpg); background-size: cover;">
        </button>
        <mat-menu #profile="matMenu">
            <button mat-menu-item>
                <mat-icon>perm_identity</mat-icon>
                <span>Meu Perfil</span>
            </button>
            <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Configurações</span>
            </button>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Log-Out</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
