<!-- <table mat-table [dataSource]="dataSource"> -->

    <!--Avatar Column-->
    <!-- <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let element">{{ element.avatar }}</td>
    </ng-container> -->
    
    <!--Username Column-->
    <!-- <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container> -->

    <!--Name Column-->
    <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container> -->

    <!--Active Column-->
    <!-- <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Usuário Ativo</th>
        <td mat-cell *matCellDef="let element">{{ element.active }}</td>
    </ng-container> -->



<!-- </table> -->
