<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.profile.avatar }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Usuário</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.username }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.profile.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdIn">
        <mat-header-cell *matHeaderCellDef>Criado em</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element?.createdIn | date }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef>Usuário Ativo</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-slide-toggle 
                class="active-slide"
                color="accent"
                [checked]="element?.active">
            </mat-slide-toggle>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>